# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environments
# ================================
modelos_estadisticos/
venv/
.env/
.venv/
env/
ENV/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Data (ML)
# ================================
data/
datasets/
*.csv
*.xlsx
*.parquet

# ================================
# Modelos
# ================================
models/
*.pkl
*.joblib
*.h5
*.pt
*.pth

# ================================
# Logs
# ================================
*.log

# ================================
# IDEs
# ================================
.vscode/
.idea/

# ================================
# MacOS
# ================================
.DS_Store

# ================================
# Cache
# ================================
.cache/
tmp/